<!DOCTYPE html>
<html>
  <head>
    <script src="/js/prompts.js" defer></script>
    <script src="/js/diary-view.js" defer></script>
    <script src="/js/diary-main.js" defer></script>
  </head>
  <body>
    <div id="main">
      <h1 id="date"></h1>
      <h3 id="prompt"></h3>
      <div id="diary"></div>
    </div>
    <textarea id="edit" class="inactive"></textarea>
    <div id="ctrlbar">
      <div id="prev"></div>
      <div id="home">HOME</div>
      <div id="next"></div>
    </div>
  </body>
</html>
